<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="/bower_components/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="/bower_components/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bower_components/metisMenu/dist/metisMenu.min.js"></script>
<script type="text/javascript" src="/bower_components/raphael/raphael.min.js"></script>
<script type="text/javascript" src="/bower_components/morris.js/morris.min.js"></script>

<script type="text/javascript" src="/public/js/morris-data.js"></script>
<script type="text/javascript" src="/public/js/app.js"></script>
